{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

		<div class="container-fluid">

			<div class="text-center" id="feedback-rectangle">
				<h2>
					“We all need people who will give us feedback. That’s how we improve.” -Bill Gates
				</h2>
			</div>

			<div class="content text-center">
				<h2>Feedback form</h2>
				<form method="POST" class="row post-form">
					{% csrf_token %}
					<div>
						<table>
							{{ form.as_table }}
						</table>					
					</div>						
					<div>
						<button type="submit" class="save btn btn-success">Submit</button>
					</div>					
				</form>
			</div>

		</div>

{% endblock %}