{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

		<div class="container-fluid">

			<div class="row">
				<div class="col-md-2">
					<h3>Search books:</h3>
				</div>				
				<div class="col-md-4">
					<div class="row">
						<div class="col-md-8 form-group">
							<input type="text" class="form-control" id="usr" name="username">
						</div>
						<div class="col-md-4">
							<button onclick="search()" class="btn btn-primary">Search</button>
						</div>									
					</div>
				</div>
				<div class="col-md-4">
					<h3 id="favorite">Favorite(s): 0</h3>
				</div>
			</div>			

			<div class="row">
				<table class="table table-responsive">
					<thead>
						<tr>
							<th>No.</th>
							<th>Title</th>
							<th>Author</th>
							<th>Published Date</th>
							<th>Description</th>
							<th>Cover</th>
							<th>Add to favorite</th>
						</tr>
					</thead>
					<tbody>						
					</tbody>
				</table>
			</div>

		</div>

{% endblock %}