{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

			<div class="row rectangle" id="rectangle1">
				<div class="col-md-5 text-center">
					<img class="img-responsive img-profile" src="{% static 'foto profil.jpg' %}">
				</div>
				<div class="col-md-7">
					<h3 class="text-name">Ardian Ghifari</h3>
					<h1 class="text-desc">A passionate student</h1>
					<h4 class="text-desc">Not an ordinary outlier</h4>
					<h4 class="text-desc">Love to learn and learn to love everything related to data</h4>
				</div>	
			</div>

			<div class="rectangle small-rectangle" id="about-div">
				<div class="text-center" id="about-title">
					<h2 class="text-title">About</h2>
				</div>	
				<div class="col-md-8 text-paragraph1" id="about-paragraph">
					<h3>
						I am a student of Computer Science major of Universitas Indonesia. I am not an expert yet in data science, I am still learning everything related to data. I am very interested in seeking certification, internship, and project.
					</h3>
				</div>							
			</div>
			
			<div class="rectangle big-rectangle" id="experience-div">
				<div class="text-center">
					<h2 class="text-title" id="experience-title">Experience</h2>	
				</div>
				<div class="text-center text-paragraph2" id="experience-paragraph">
					<h3>
						2014 - 2015 Staff of OSIS SMAN 5 Bekasi <br>
						2015 Staff of Equipment FiveCup SMAN 5 Bekasi <br>
						2015 Secretary of Idul Adha in SMAN 5 Bekasi <br>
						2015 - 2016 Secretary of ICT SMAN 5 Bekasi <br>
						2016 PIC of Short Movie Competition in STC SMAN 5 Bekasi <br>
						2018 Staff of FUKI Fasilkom UI <br>
						2018 Staff of Data Science Academy CompFest X
					</h3>
				</div>	
			</div>

			<div class="rectangle small-rectangle" id="skill-div">
				<div class="text-center" id="skill-title">
					<h2 class="text-title">Skill</h2>
				</div>	
				<div class="col-md-8 text-paragraph1" id="skill-paragraph">
					<h3>
						English language <br>
						Python <br>
						Java <br>
						Cmap <br>
						Microsoft Excel
					</h3>
				</div>							
			</div>

			<div class="rectangle big-rectangle" id="education-div">
				<div class="text-center">
					<h2 class="text-title" id="education-title">Education</h2>	
				</div>
				<div class="text-center text-paragraph2" id="education-paragraph">
					<h3>
						2014 - 2017 SMAN 5 Bekasi <br>
						2014 - 2017 LBPP LIA (English Course) <br>
						2017 - Universitas Indonesia
					</h3>
				</div>	
			</div>

{% endblock %}