.big-rectangle {
	background-color: #a9a9a9;
}

#education-title {
	color: #F2F2F2;
}

#experience-title {
	color: #F2F2F2;
}

#footer {
	padding-left: 10%;
	background-color: #2D9CDB;
}

.loader {
	padding-top: 10%;
}

#main {
	display: none;
}

.spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.text-footer {
	color: #F2F2F2;
}

.text-paragraph1 {
	color: #4f4f4f;
	display: none;
}

.text-paragraph2{
	color: #F2F2F2;
	display: none;
}

.img-profile {
	width: 80%;
}

.rectangle { 
	padding: 5%;
}

#rectangle1 {
	background-color: #0b0f8e;
}

.small-rectangle {
	background-color: #f5f5f5;
}

.text-desc {
	margin-bottom: 5%;
	color: #F2F2F2;
}

.text-name {
	margin-bottom: 20%;
	color: #F2F2F2;
}

.text-title {
	font-weight: bold;
	color: #2f80ed;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

