{% load staticfiles %}

<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8"> 
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Ardian Ghifari - A passionate student</title>
		<link rel="stylesheet" type="text/css" href="{% static 'Profilepage.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'Feedbackpage.css' %}">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
		<script src="{% static 'Profilepage.js' %}"></script>
		<script src="{% static 'Registrationpage.js' %}"></script>
		<script src="{% static 'Booksthismonth.js' %}"></script>
	<body>

		<div class="loader text-center">
			<h2>Orang sabar disayang mantan</h2>
			<div class="spinner"></div>
		</div>

		<div class="container-fluid" id="main">

			<nav class="row navbar navbar-expand-sm bg-success navbar-dark" id="header">
			  <ul class="navbar-nav">
			    <li class="nav-item active">
			      <a class="nav-link" href="{% url 'profilepage' %}">Home</a>
			    </li>
			  </ul>
			    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
			    	<span class="navbar-toggler-icon"></span>
			    </button>
			    <div class="collapse navbar-collapse" id="collapsibleNavbar">
				    <ul class="navbar-nav">
				    	<li><a class="nav-link" href="#" id="change-theme">Kami cinta fasilkom</a></li>
				    	<li><a class="nav-link" href="{% url 'booksthismonth' %}">Search books</a></li>
				    	<li><a class="nav-link" href="{% url 'registrationpage' %}">Subscribe</a></li>
				    	{% if user.is_authenticated %}
				    	<li><a class="nav-link">Hello, {{ user.username }}</a></li>
						{% endif %}				    		   	
				    </ul>
				    <ul class="navbar-nav ml-auto">
				    	<li>
				    	{% if user.is_authenticated %}
			            	<a class="nav-link" href="{% url 'home:logout' %}">Logout</a>
						{% else %}							
				    		<a class="nav-link" href="{% url 'login:loginpage' %}">Login</a>
						{% endif %}
						</li>	
				    </ul>
				  </div>  
			</nav>

			{% block content %}
			{% endblock content %}
			
			<div id="footer">
				<div class="row text-center">
					<h4 class="text-footer">Contact me</h4>
				</div>		
				<div class="row">
					<div class="col-sm-4">									
		                <div class="row text-center">
		                    <h5 class="text-footer">
		                    	<span class="fas fa-phone"></span>+62 858 1191 6028
		                    </h5>
		                </div>
		                <div class="row text-center">
		                    <h5 class="text-footer">
		                    	<span class="fas fa-at"></span>ardianghi@gmail.com
		                    </h5>
		                </div>
		            </div>
		            <div class="col-sm-4">
		                <div class="row text-center">
		                	<h5 class="text-footer">
		                		<span class="fab fa-line"></span>@ardianghifari
		                	</h5>
		                </div>
		                <div class="row text-center">
		                	<h5 class="text-footer">
		                		<span class="fab fa-instagram"></span>@ardianghifari
		                	</h5>
		                </div>
					</div>				
					<div class="col-sm-4">
						<h5><a href="{% url 'feedbackpage' %}" class="text-footer">
						Feedback
						</a></h5>
						<h5 class="text-footer" id="backtotop">Back to Top</h5>
					</div>
				</div>	
		</div>

		</div>
		
	</body>

</html>