{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

		<div class="container-fluid">

			<div class="content text-center">
				<h2>Register to subscribe to my portfolio</h2>
				<form method="POST" class="row post-form">
					{% csrf_token %}
					<div>
						<table>
							{{ form.as_table }}
						</table>					
					</div>
					<div>
						<p id="email-alert"></p>					
					</div>					
					<div>
						<button type="submit" class="save btn btn-success" id="subscribe-button">Submit</button>
					</div>					
				</form>
			</div>

		</div>

{% endblock %}